<?xml version="1.0" encoding="UTF-8"?>
<config>
  <connection-params>
    <gsn-name>GSN_MQTT_develop</gsn-name>
    <gsn-id>1</gsn-id>
    <broker-url>192.168.5.81</broker-url>
    <broker-port>1883</broker-port>
    <websockets-port>9001</websockets-port>
    <mqtt-username>admin</mqtt-username>
    <mqtt-password>admin</mqtt-password>
    <mqtt-gateway>RASIP1/#</mqtt-gateway>
    <mqtt-topic-endymion-alarm>RASIP1/Endymion/alarms</mqtt-topic-endymion-alarm>
    <mqtt-topic-notifications>RASIP1/GSN/notifications</mqtt-topic-notifications>
    <mqtt-topic-watchdog>RASIP1/GSN/watchdog</mqtt-topic-watchdog>
    <mqtt-topic-relay>RASIP1/GSN/relays</mqtt-topic-relay>
    <mqtt-topic-relay-ack>RASIP1/GSN/relaysAck</mqtt-topic-relay-ack>
    <mqtt-topic-waspmotegateway>RASIP1/GSN/GatewayOutput</mqtt-topic-waspmotegateway>
  </connection-params>
</config>
